<body>
  <div class="titleBar">
    <a class="linkNoStyle" href="https://www.chriskober.com/">
      <div class="titleName titleButton">
        <p>Chris Kober</p>
      </div>
    </a>
    <div class="titleLinks">
      <a class="titleLink linkNoStyle" href="https://www.chriskober.com/">About Me</a>
      <a class="titleLink linkNoStyle" href="https://www.chriskober.com/">Projects</a>
      <a class="titleLink linkNoStyle" href="https://www.chriskober.com/">Contact</a>
    </div>
  </div>


  <h1>Manhattan Neighborhood Exploration</h1>

  <!--<form>
    <input type="text" placeholder="Name">
    <input type="email" placeholder="Email Address">
    <input type="submit" value="Subscribe">
  </form>-->


  <button (click)="openInputDialog()" class="bubbly-button">Add Event</button>
  <app-interactive-map></app-interactive-map>

  <app-timeline></app-timeline>

  <router-outlet></router-outlet>

</body>
