@import "styles/eventButton.css";

/*TITLE*/
h1 {
  width: 100%;
  text-align: center;
  text-decoration: underline;
}



.selectionSection {
  flex-grow: 1;
  min-width: 374px;
  text-align: center;
}

.timelineSection {
  flex-grow: 1;
  min-width: 400px;
}

.responsiveSection {
  display:flex;
  flex-wrap:wrap;
}

.bubbly-button {
  
}
