<div class="titleBar">
  <a class="linkNoStyle" href="https://www.chriskober.com/">
    <div class="titleName titleButton">
      <p>Chris Kober</p>
    </div>
  </a>
  <div class="titleLinks">
    <a class="titleLink linkNoStyle" href="https://www.chriskober.com/">About Me</a>
    <a class="titleLink linkNoStyle" href="https://www.chriskober.com/">Projects</a>
    <a class="titleLink linkNoStyle" href="https://www.chriskober.com/">Contact</a>
  </div>
</div>


<main>
  <h1>Manhattan Neighborhood Exploration</h1>

  <div class="responsiveSection">
    <div class="selectionSection">
      <app-interactive-map></app-interactive-map>
      <button (click)="openInputDialog()" class="bubbly-button">Add Event</button>
    </div>

    <div class="timelineSection">
      <app-timeline></app-timeline>
    </div>
  </div>
  <!--<router-outlet></router-outlet>-->
</main>
