* {
  transition: all 200ms ease-out;
  overflow: visible
}

.container {
  height: 80vh;
  width: 100%;
  text-align:center;
}

  .container path {
    opacity: 0.7;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
     Introduced in Internet Explorer 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
    -ms-user-select: none;
    user-select: none;
  }

.container:hover path:hover {
  opacity: 1;
}

.container:active path:active {
  opacity: 1;
}

svg {
  height: 100%;
  display: inline-block;
}
